*{
    margin:0;
    padding:0;
    border:0;
}

html, body{
    background-color: white;
}

h1, h2, h3, h4, h5, h6 a{
    font-family: 'Montserrat Alternates', sans-serif;
}


p{
    font-family: 'Jost', sans-serif;
}

.sea h5{
    text-align: center;
    font-size: 1em;
    color: #021400;
    margin-bottom: 1em;
}




#nav1{
    font-family: 'Montserrat Alternates', sans-serif;
}



.sea{
    border: 1px solid #9dc802;
    padding: 30px;
    margin: 15px;
}

.sea p{
    color: #021400;
    text-align:center;
    font-size: 1em;
}

#flex img{
    max-width: 400px;
    width: 100%;
    margin:.8em;
}


#flex{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2em;
    margin-bottom: 1em;
}







/************************W3SCHOOLS HAMBURGER MENU CSS START**************/
.hamburger {
    overflow: hidden;
    background-color: #7DEFEE;
    position: relative;
  }
  
  .hamburger #nav1 {
    display: none;
  }
  
  .hamburger a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bolder;
    display: block;
    text-align: center;
  }
  
  .hamburger a.icon {
    background:#7DEFEE;
    color: white;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }



  .hamburger a:hover {
    background-color: #f9ba33;
  }
  

  .active {
    background-color: transparent;
    color: #7DEFEE;
  }
  /************************W3SCHOOLS HAMBURGER MENU CSS STOP**************/





/**************************W3CHOOLS ACCORDIAN CSS START****************/
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #7DEFEE;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    max-width: 150px;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;   
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .act, .accordion:hover {
    background-color: #7DEFEE;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }
/**************************W3CHOOLS ACCORDIAN CSS START****************/
