*{
    margin:0;
    padding:0;
    border:0;
}

html, body{
    background-color: white;
}

h1, h2, h3, h4, h5, h6 a{
    font-family: 'Montserrat Alternates', sans-serif;
}


p{
    font-family: 'Jost', sans-serif;
}

main{
    margin: 1em;
    margin-bottom: 2em;
    font-family: 'Jost', sans-serif;
}





/************************W3SCHOOLS HAMBURGER MENU CSS START**************/
.hamburger {
    overflow: hidden;
    background-color: #7DEFEE;
    position: relative;
  }
  
  .hamburger #nav1 {
    display: none;
  }
  
  .hamburger a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bolder;
    display: block;
    text-align: center;
  }
  
  .hamburger a.icon {
    background:#7DEFEE;
    color: white;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }



  .hamburger a:hover {
    background-color: #f9ba33;
  }
  

  .active {
    background-color: transparent;
    color: #7DEFEE;
  }

  #nav1{
    font-family: 'Montserrat Alternates', sans-serif;
  }
  /************************W3SCHOOLS HAMBURGER MENU CSS STOP**************/

