*{
    margin: 0;
    padding: 0;
    border: 0;
}

html, body{
    height: 100%;
    margin: 0;
    background-color: white;
}


h1, h2, h3, h4{
    font-family: 'Montserrat Alternates', sans-serif;
}


p{
    font-family: 'Jost', sans-serif;
}


header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
}

#mobile{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:center;
    align-items:stretch;
}


#mobile img{
    width: 100%;
    max-width: 1000px;
}





#pop{
    color:white;
    background-color: #7defee;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: .8em;
    padding: 8px;
    border-radius: .5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    position:relative;
}

#bucks{
    border-radius: .5em;
    width: 100%;
    max-width: 120px;
    height:auto;
    margin-left: auto;
    margin-right: 1em;
}



/*******************************W3Schools Modal Code*************************************/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
  }
  
  /* Modal Content/Box */
  .star {
    background-color: #7DEFEE;
    color: #041314;
    padding: 10px 20px;
    width: 32%; /* Could be more or less, depending on screen size */
    text-align: center;
  }

  .flex{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin:.5em
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 20px;
    font-weight:lighter;
  }
  
  .close:hover,
  .close:focus {
    color: #f9ba33;
    cursor: pointer;
  }
/*******************************W3Schools Modal Code*************************************/

.donate{
    position: relative;
    width: 100%;
    border: 3px solid white;
}


.donate .btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    background-color: transparent;
    font-size: 20px;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat Alternates', sans-serif;
}



.adopt{
    position: relative;
    width: 100%;
    border: 3px solid white;
}


.adopt .btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Montserrat Alternates', sans-serif;
}

.shop{
    position: relative;
    width: 100%;
    border: 3px solid white;
}


.shop .btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Montserrat Alternates', sans-serif;
}





.logo img{
    display: flex;
    max-width: 150px;
    width: 100%;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}



footer{
    height: -20px;
    margin-top: 10px;
    font-size: .08em;
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
}







@media (min-width:320px) and (max-width:799px){
    #group{
        visibility: collapse;
        overflow:hidden;
        max-height:0;
    }

      .star {
        width: 89%; 
       
      }
    

}




@media (min-width:360px) and (max-width:405){
    .star {
        width: 90%; 
       
      }
}



@media (min-width:406px) and (max-width:450px){
    .star {
        width: 90%;  
      }
}

@media (min-width:451px) and (max-width:600px){
    .star {
        width: 93%;  
      }
}

@media (min-width:601px) and (max-width:799px){
    .star {
        width: 95%;  
      }
}



@media(min-width:800px){
 
#mobile{
    visibility: collapse;
    overflow:hidden;
    max-height: 0;
}



header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
}



#group img{
    display: inline-block;
    width:100%;
    max-width:650px;
}



#group{
  display:flex;
  flex-direction: row;
  align-items:baseline;
  justify-content: center;
}


.donate{
    position: relative;
    width: 35%;
    border: 3px solid white;
}


.donate .btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    background-color: transparent;
    font-size: 50px;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat Alternates', sans-serif;
}



.adopt{
    position: relative;
    width: 35%;
    border: 3px solid white;
}


.adopt .btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    background-color: transparent;
    font-size: 50px;
    cursor: pointer;
    font-family: 'Montserrat Alternates', sans-serif;
}

.shop{
    position: relative;
    width: 35%;
    border: 3px solid white;
}


.shop .btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    background-color: transparent;
    font-size: 50px;
    cursor: pointer;
    font-family: 'Montserrat Alternates', sans-serif;
}

#pop{
    color:white;
    background-color: #7defee;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.3em;
    padding: 14px;
    border-radius: .5em;
    display: block;
    margin-left: auto;
    margin-right: 4em;
    position:relative;
}

.logo img{
    display: block;
    max-width: 205px;
    width: 100%;
    margin-left:4em;
    margin-right: auto;
    margin-top: 1.2em;
}



footer{
    height: 30px;
    margin-top: 10px;
    font-size: .3em;
    margin-left: .7em;
    margin-right: .7em;
    text-align: center;
}



 
}
